.Group {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  align-items: flex-start;
}
.Group > h1 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}
.add-group-btn {
  position: absolute;
  z-index: 100;
  right: 2rem;
  bottom: 3rem;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2.8rem;
  border-radius: 50%;
  border-style: solid;
  border-color: darkblue;
  background: darkblue;
  color: white;
}
.group-list > ul {
  list-style: none;
}
.group-list > ul > li {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: -1rem;
}
