.App {
  display: flex;
}
.Group {
  flex: 1;
}
.Notes {
  flex: 3;
}
.profile-pic {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border-style: solid;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  font-weight: 200;
}
.group-name {
  font-weight: bold;
  font-size: 1.5rem;
}
